<div class = "background-image">
<div class="cards-placement">
<mat-card class="example-card" class="card" appearance="outlined">
    <img mat-card-image src="assets/einnext-logo.PNG" alt="EinNext Logo">
    <mat-card-content>
      <p>
        <br>
        AI powered Bio-Sciences.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="learn-more">
        <button mat-button>Learn More</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="example-card-2" class="card" appearance="outlined">
    <img mat-card-image src="assets/einnel-4c.png" alt="EinNel 4C representative image">
    <mat-card-content>
      <p>
        <br>
         <br><br>4C. 3D Visualisation.<br>Powered by You.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="learn-more">
        <button mat-button>Learn More</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="example-card-3" class="card" appearance="outlined">
    <img mat-card-image src="assets/einnel-edom.PNG" alt="EinNel EDOM representative image">
    <mat-card-content>
      <p>
        <br>
         <br><br>Boost your fundraising.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="learn-more">
        <button mat-button>Learn More</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="ecclesia-card" appearance="outlined">
    <img mat-card-image src="assets/einnel-ecclesia.PNG" alt="EinNel ecclesia representative image">
    <mat-card-content>
      <p>
        <br>
         <br><br>Church Management. <br>Made Easy.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="learn-more">
        <button mat-button>Learn More</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="example-card-5" class="card" appearance="outlined">
    <img mat-card-image src="assets/einnel-task.png" alt="EinNel TASK representative image">
    <mat-card-content>
      <p>
        <br>
         <br><br>Church Management. <br>Made Easy.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="learn-more">
        <button mat-button>Learn More</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <br>
  <br>
  <mat-card class="mdox-card" appearance="outlined">
    <img mat-card-image src="assets/einnel-mdox.PNG" alt="EinNel MDOX representative image">
    <mat-card-content>
      <p>
        <br>
         <br><br>Data-Driven CAE.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="learn-more">
        <button mat-button>Learn More</button>
      </div>
    </mat-card-actions>
    <br>
  </mat-card>
  <mat-card class="example-card-5" class="card" appearance="outlined">
    <img mat-card-image src="assets/einnel-erp.svg" alt="EinNel ERP representative image">
    <mat-card-content>
      <p>
        <br>
         <br><br>The best Enterprise<br>Management Software<br>in the world.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="learn-more">
        <button mat-button>Learn More</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<br><br><br><br>
