<div class="footer_position">
    <div class="get-in-touch">
        <div class="get">Get</div>
        <div class="phone-icon"><mat-icon>phone</mat-icon></div>
        <div class="in">in</div>
        <div class="touch">Touch!</div>
    </div>
    <div class="office-details">
        <h3><img class="flag" src="assets/indian-flag.webp" alt="image of the indian flag">
            <b>India Office</b></h3>
        <ul>
            <li>No. 4, Soundarya Nagar Main Rd<br>Gowriwakkam, Chennai, T.N.</li><br>
            <li><b>Phone:</b> 044 2278 2028</li><br>
            <li><b>Email:</b> info&#64;einnel.com</li><br>
            <li><b>Working:</b> Weekdays 9:30-18:30</li><br>
        </ul>
    </div>
    <div class="office-details">
        <h3><img class="flag" src="assets/irish-flag.webp" alt="image of the irish flag">
            <div class="irish-flag"><b>Ireland Office</b></div></h3>
        <ul>
            <li>Ground Floor,  71 Lower Baggot Street<br>D02 P593, Ireland</li><br>
            <li><b>Phone:</b> +353 (87) 186 6791</li><br>
            <li><b>Email:</b> contact&#64;facs-global.com</li><br>
            <li><b>Working:</b> Weekdays 9:30-18:30</li><br>
        </ul>
    </div>
    <div class="office-details">
        <h3><img class="flag" src="assets/canadian-flag.webp" alt="image of the canadian flag">
            <div class="canadian-flag"><b>Canada Office</b></div></h3>
        <ul>
            <li>12756 104 Ave., Surrey, BC,<br>V3H 3H9, Canada</li><br>
            <li><b>Phone:</b> +1 604 307 1106</li><br>
            <li><b>Email:</b> contact&#64;einnel.ca</li><br>
            <li><b>Working:</b> Weekdays 9:00-17:00</li><br>
        </ul>
    </div>
    <div class="credits">
        <p style="color: aqua;">Created by: Daniel Ashish Abraham</p>
    </div>
</div>

