<div class="about-us-positioning">
    <div class="title">
    <p style="color: gray;">About Us</p>
    </div>
    <p>EinNel Technologies is an Innovation and Technology centre, providing solutions
       in the fields of Information Technology, Automotive, Aerospace, Manufacturing, 
       Oil & Gas and Bioscience and delivering revolutionary technology solutions for 
       digitally transforming businesses.</p>
</div>

<div class="about-us-cards-placement">
<div class="even-cards-placement">
<div class="even-card">
<mat-card class = "card" appearance="outlined">
    <img mat-card-image src="assets/einstein.png" alt="Albert E. George">
    <mat-card-content>
    <div class="even-card-text">
      <p>
        <br>
        Albert <b>Einstein</b><br>
        C.E.O
      </p>
    </div>
    </mat-card-content>
</mat-card>
</div>
</div>

<div class="odd-cards-placement">
<div class="odd-card">
    <mat-card class = "card" appearance="outlined">
        <img mat-card-image src="assets/nelson.png" alt="Nelson Joseph">
        <mat-card-content>
        <div class="odd-card-text">
            <p>
                <br>
                Nelson <b>Joseph</b><br>
                C.T.O
            </p>
        </div>
        </mat-card-content>
    </mat-card>
</div>
</div>

<div class="even-cards-placement">
<div class="even-card">
<mat-card class = "card" appearance="outlined">
    <img mat-card-image src="assets/chandrasekar.png" alt="Chanda Sekar">
    <mat-card-content>
    <div class="even-card-text">
      <p>
        <br>
        Chandra <b>Sekar</b><br>
        C.F.O
      </p>
    </div>
    </mat-card-content>
</mat-card>
</div>
</div>

<div class="odd-cards-placement">
<div class="odd-card">
<mat-card class = "card" appearance="outlined">
    <img mat-card-image src="assets/merlin.png" alt="Merlin Shakila">
    <mat-card-content>
    <div class="odd-card-text">
      <p>
        <br>
        Merlin <b>Shakila</b><br>
        Director, Software
      </p>
    </div>
    </mat-card-content>
</mat-card>
</div>
</div>

<div class="even-cards-placement">
<div class="even-card">
<mat-card class = "card" appearance="outlined">
    <img mat-card-image src="assets/dhatchana.png" alt="Dr. Dhatchana Moorthy">
    <mat-card-content>
    <div class="even-card-text">
      <p>
        <br>
        Dr. Dhatchana <b>Moorthy</b><br>
        Director, EinNext Biosciences
      </p>
    </div>
    </mat-card-content>
</mat-card>
</div>
</div>
</div>
